USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedRegistrarNuevo]    Script Date: 21/11/2025 10:13:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[storedRegistrarNuevo]
@email varchar(100),
@pass varchar(20)
as insert into USERS (email, pass, admin) output inserted.Id values (@email, @pass, 0)
GO
